<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Simple Website Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />

    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    <section class="sub-header">
        <nav>
            <a href="/help-info"><img width=10% src="{{url_for('static',filename='images/smarthome_icon.jpg')}}"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" aria-hidden="true" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/help_info">HELP & INFO</a></li>
                    <li><a href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
        </nav>
        <h1>FLOOR 1</h1>

    </section>
    <!--------blog page content------------->
    <section class="campus">
        <h1>ROOMS AND DEVICES</h1>
        <h1><a href="/createpage1" class="hero-btn red-btn"> ADD MORE</a></h1>
    </section>
    <section>
        <div class="container">
            <table class="table">
                <thead style="background-color: brown;color: aliceblue;">
                    <th>ID</th>
                    <th>TYPE OF ROOM</th>
                    <th>DEVICES</th>
                    <th>ACTIONS</th>
                </thead>

                <tbody>
                    {% for room in rooms %}
                    <tr {% if loop.index %2==0 %} style="background-color: rgb(179, 179, 179);" {% else %} style="background-color: rgb(255, 255, 255);" {% endif %}>
                        <td>{{ loop.index }}</td>
                        <td>{{room.type_of_room}}</td>
                        <td>{{room.devices}}</td>
                        <td>
                            <span style="font-size: 24px;color:green;">
                                <a href="{{ url_for('view_devices_1', room_id=room.room_id) }}"> <i class="fa fa-eye"></i></a> </span>
                            |
                            <span style="font-size: 24px;color:red;">
                                <a href="{{ url_for('delete_1', room_id=room.room_id) }}"> <i class="fa fa-trash"></i></a></span>
                        </td>
                        {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
    <!----- fOOTER ----->
    <section class="footer">
        <h4>About Us</h4>
        <div class="icon">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i> by Dong Quoc Dat & Tran Doan Hoang</p>
    </section>
    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0";
        }

        function hideMenu() {
            navLinks.style.right = "-200px";
        }

    </script>
</body>

</html>
